# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Model artifacts
*.pkl
*.joblib

# Local database
*.db
*.sqlite
*.sqlite3

# Datasets
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
